<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>datasheet</title>
    </head>
    <body>
        <h1>This is pie !</h1>
        <img src="/static/img/FoodApplePie.jpg">

        <div>정수 이하 소수점</div>
        
        
        <%= spie[2] %><br>
        <%= spie[3] %><br>
        <%= spie.length %>
        
        

        <br><br><br><br>

        <% for(var i=2; i<spie.length+2; i++) { %>
            <%= i-1 %>
            <a>번째 </a>
            <%= spie[i] %><br>      
        <% } %>


        

  

    
    </body>
</html>